.index {
    background-image: url(/assets/pic/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}
h1 {
    /* text-align: center; */
    margin-top: 50px;
    /* color: goldenrod; */
}
/* .container {
    text-align: center;
    margin-top: 2rem;
} */
.container p {
    /* color: white; */
    font-size: 20px;
    font-weight: bold;
}
.btn{
    width: 200px;
    /* color: green; */
    font-size: 20px;
    font-weight: bold;

}
#name{
    padding-top: 2rem;
}
form{
    margin: 10px auto;
    padding: 10px 0;
}
.make-colum {
    width: max-content;
}
#logout {
    float: right;
    margin: 15px 15px 0 0;
}
#main-log-in{
    padding-top: 55px;
}
.page {
    display: flex;
    justify-content: space-around;
}
.VerticalLine{
    border-left: solid black;
    height: 35rem;

}
.Blackjack img{
    width: 350px;
}
.emoji img{
    width: 150px;
}
#emojiEl {
    margin-top: 50px;
}
#blackjackEL {
    margin-top: 20px;
    margin-left: 60px;
}