body {
    background-image: url(/assets/pic/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}
h1 {
    text-align: center;
    margin-top: 50px;
    color: goldenrod;
}
.container {
    text-align: center;
    margin-top: 2rem;
}